/* src/styles/styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #075E54;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.chat-room {
    max-width: 600px;
    width: 100%;
    height: 80vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-y: scroll;
}

.message-container {
    padding: 1rem;
    overflow-y: auto;
}

.message {
    background-color: #DCF8C6;
    border-radius: 10px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.message p {
    margin: 0;
}

.message-form {
    display: flex;
    padding: 1rem;
}

.message-input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.emoji-picker {
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.send-button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #128C7E;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #075E54;
}
